
/*
  AUTHOR: YASH DESAI (Yash's Code Camp)
*/



.\? {
  outline: 2px solid red;
  outline-radius: 4px;
  animation: blink-border 0.5s alternate infinite;
}

.\?b {
  outline: 2px solid blue;
  outline-radius: 4px;
  animation: b-blink-border 0.5s alternate infinite;
}

.\?g {
  outline: 2px solid green;
  outline-radius: 4px;
  animation: g-blink-border 0.5s alternate infinite;
}
.\?p {
  outline: 2px solid purple;
  outline-radius: 4px;
  animation: p-blink-border 0.5s alternate infinite;
}
.\?y {
  outline: 2px solid yellow;
  outline-radius: 4px;
  animation: y-blink-border 0.5s alternate infinite;
}
.\?w {
  outline: 2px solid white;
  outline-radius: 4px;
  animation: w-blink-border 0.5s alternate infinite;
}

@keyframes blink-border {
  from {
    outline-color: transparent;
  }
  to {
    outline-color: red;
  }
}

@keyframes g-blink-border {
  from {
    outline-color: transparent;
  }
  to {
    outline-color: green;
  }
}

@keyframes b-blink-border {
  from {
    outline-color: transparent;
  }
  to {
    outline-color: blue;
  }
}

@keyframes p-blink-border {
  from {
    outline-color: transparent;
  }
  to {
    outline-color: purple;
  }
}

@keyframes y-blink-border {
  from {
    outline-color: transparent;
  }
  to {
    outline-color: yellow;
  }
}

@keyframes w-blink-border {
  from {
    outline-color: transparent;
  }
  to {
    outline-color: white;
  }
}
