

/*
  AUTHOR: YASH DESAI (Yash's Code Camp) 
*/



.\? {
  border: 2px solid red;
  border-radius: 4px;
  animation: blink-border 0.5s alternate infinite;
}

.\?b {
  border: 2px solid blue;
  border-radius: 4px;
  animation: b-blink-border 0.5s alternate infinite;
}

.\?g {
  border: 2px solid green;
  border-radius: 4px;
  animation: g-blink-border 0.5s alternate infinite;
}
.\?p {
  border: 2px solid purple;
  border-radius: 4px;
  animation: p-blink-border 0.5s alternate infinite;
}
.\?y {
  border: 2px solid yellow;
  border-radius: 4px;
  animation: y-blink-border 0.5s alternate infinite;
}
.\?w {
  border: 2px solid white;
  border-radius: 4px;
  animation: w-blink-border 0.5s alternate infinite;
}

@keyframes blink-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: red;
  }
}

@keyframes g-blink-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: green;
  }
}

@keyframes b-blink-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: blue;
  }
}

@keyframes p-blink-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: purple;
  }
}

@keyframes y-blink-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: yellow;
  }
}

@keyframes w-blink-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: white;
  }
}
